<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">Ici le footer, voici le footer.<span class="small"><br><a href="https://vogonselectriques.net" target="_blank">yolofkefsffmwef.</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">31.05.2021</div>
        </div>
  </div>
</footer>
