{% extends "base.html" %}
{% block title %} Homepage CONSTRUCTEURS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul>
				<li class="list-item">
					░░░░░░░░░░▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄░░░░░░░░░
				</li>
				<li class="list-item">
					░░░░░░░░▄▀░░░░░░░░░░░░▄░░░░░░░▀▄░░░░░░░
				</li>
				<li class="list-item">
					░░░░░░░░█░░▄░░░░▄░░░░░░░░░░░░░░█░░░░░░░
				</li>
				<li class="list-item">
					░░░░░░░░█░░░░░░░░░░░░▄█▄▄░░▄░░░█░▄▄▄░░░
				</li>
				<li class="list-item">
					░▄▄▄▄▄░░█░░░░░░▀░░░░▀█░░▀▄░░░░░█▀▀░██░░
				</li>
				<li class="list-item">
					░▄▄▄▄▄░░█░░░░░░▀░░░░▀█░░▀▄░░░░░█▀▀░██░░
				</li>
				<li class="list-item">
					░██▄▀██▄█░░░▄░░░░░░░██░░░░▀▀▀▀▀░░░░██░░
				</li>
				<li class="list-item">
					░░▀██▄▀██░░░░░░░░▀░██▀░░░░░░░░░░░░░▀██░
				</li>
				<li class="list-item">
					░░░░▀████░▀░░░░▄░░░██░░░▄█░░░░▄░▄█░░██░
				</li>
				<li class="list-item">
					░░░░░░░▀█░░░░▄░░░░░██░░░░▄░░░▄░░▄░░░██░
				</li>
				<li class="list-item">
					░░░░░░░▀█░░░░▄░░░░░██░░░░▄░░░▄░░▄░░░██░
				</li>
				<li class="list-item">
					░░░░░░░▄█▄░░░░░░░░░░░▀▄░░▀▀▀▀▀▀▀▀░░▄▀░░
				</li>
				<li class="list-item">
					░░░░░░█▀▀█████████▀▀▀▀████████████▀░░░░
				</li>
				<li class="list-item">
					░░░░░░████▀░░███▀░░░░░░▀███░░▀██▀░░░░░░
				</li>
				<li class="list-item">
					░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
