{% extends "base.html" %}
{% block title %} Afficher AvoirCategorieProduit {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  ID
						</th>
						<th class="" >
						  Constructeur
						</th>
						<th class="" >
						  Catégorie
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.ID_Constructeur }}
					  </th>
						<th class="align-middle">
						  {{ row.NomConstructeur }}
					  </th>
					  <th class="align-middle">
						{{ row.TypeCategorie }}
					  </th>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('AvoirConstructeurs_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('AvoirConstructeurs_update_wtf', ID_AvoirConstructeurs_btn_edit_html=row.ID_Constructeur) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('AvoirConstructeurs_delete_wtf', ID_AvoirConstructeurs_btn_delete_html=row.ID_Constructeur) }}" role="button">Delete</a>
						</td>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_AvoirCategorieProduit_selected', ID_ModifierConstructeurs_btn_edit_html=row.ID_Constructeur) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.TypeCategorieProduit|default("PAS DE CATEGORIES", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun constructeur.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('AvoirConstructeurs_ajouter_wtf') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
