{% extends "base.html" %}
{% block title %} Afficher CATEGORIEPRODUIT {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Categories de produits disponibles
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Categories
                        </th>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.ID_CategorieProduit }}
						</td>
						<td class="align-middle">
							{{ row.TypeCategorieProduit }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('CategorieProduit_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('CategorieProduit_update_wtf', ID_CategorieProduit_btn_edit_html=row.ID_CategorieProduit) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('CategorieProduit_delete_wtf', ID_CategorieProduit_btn_delete_html=row.ID_CategorieProduit) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune categorie.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('CategorieProduit_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}